@font-face {
    font-family: "Open Sans";
    src: url(./assets/fonts/static/OpenSans-Regular.ttf);
    font-weight: normal;
    font-size: normal;
  }
  
  :root {
    --white: #ffffff;
    --primary: #000000;
  }
  
  /* reset de estilos */
  * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: "Open Sans";
  }

  .page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    width: 100%;
  }

.logos {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}

  .logo1 {
    width: 18%;
    margin: 4% 0% 0% 0%
  }

  .logo2{
    width: 50%;
    margin: 3% 0% 4% 0%;
  }
  
  .search_bar {
    width: 50%;
    background-color: var(--primary);
    height: 100%;
    min-height: 25px;
    border-left: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 5% 0% 5%;
  }
  
  .search_bar > input {
    width: 90%;
    outline: none;
    background-color: transparent;
    padding-left: 5px;
    color: var(--white);
    font-size: 15px;
  }
  
  ::placeholder {
    color: var(white);
    opacity: 1;
  }
  
  .icons {
    display: flex;
    justify-content: right;
    gap: 10%;
    width: 20%;
    margin: 0% 5% 0% 0%;
  }
  
  .icon {
    width: 200%;
    max-width: 20px;
    cursor: pointer;
  }
  